.middleHome {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1.5rem 1.5rem 1.5rem;
    /* margin-top: 1rem; */
}


.middleHome::-webkit-scrollbar {
    display: none;
}

.storyHeader {
    background-color: var(--card-bg-color);
}


.storyHeader>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    background-color: var(--card-bg-color);

}

.storyHeader>ul>li {
    width: 32%;
}



.storyHeader>ul>li>a {
    color: gray;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.storyHeader>ul>li>a>i {
    margin-right: 0.6rem;
}



#bottomBorder {
    border-bottom: 5px solid RGB(24, 118, 242);
    color: rgb(24, 118, 242);
}

#story {
    display: flex;
    gap: 1rem;
    width: auto;
    padding: 1rem;
    overflow: auto;
}

#story::-webkit-scrollbar {
    display: none;
}


.storyBox {
    height: 12rem;
    width: 7rem;
    position: relative;
}

.storyBox1 {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
}

.storyImage>img {
    object-fit: cover;
}

.yourStory>p {
    margin-top: 1.5rem;
}

.yourStory {
    background-color: var(--body-bg-color);
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.7rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.yourStoryIcon {
    position: absolute;
    top: -12px;
    border: 5px solid var(--card-bg-color);
    border-radius: 50%;
    margin: 0 2.8rem;
}

.yourStoryIcon>i {
    background-color: rgb(24, 118, 242);
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
}


.dpImg {
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 3;
    border-radius: 50%;
    border: 3px solid rgb(24, 118, 242);
}

.dpImg::-webkit-scrollbar {
    display: none;
}

.dpImg>img {
    /* overflow: hidden; */
    object-fit: contain;

}

.storyName {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    color: white;
    font-weight: 500;
    padding: 1rem;
}


#story img {
    height: 12rem;
    width: 7rem;
    border-radius: 15px;
    z-index: -1;
    filter: brightness(0.8);
    overflow: hidden;
}

/* ****************** Upload Section ************** */

.uploadPost {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

#write {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    margin-bottom: 1rem;
    width: 100%;
}


#write input {
    width: 82%;
    padding: 0.7rem 0.8rem;
    background-color: var(--body-bg-color);
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
}

#postType {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;

}

.type {
    border-radius: 10px;
    padding: 0.4rem 1rem;
}

.type:hover {
    background-color: var(--body-bg-color);
    border-radius: 10px;
}

.type>i {
    margin-right: 1rem;
    font-size: 1.3rem;
    /* padding: 1rem; */
}

.type #livePost {
    color: RGB(243, 66, 95);
}

.type #photoPost {
    color: RGB(69, 189, 98);
}

.type #feelingPost {
    color: RGB(247, 185, 40);
}

.type {
    font-size: 0.9rem;
    font-weight: 500;
}



/* ******************* Post Section **************** */

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.name {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}


.nameDiv {
    width: 85%;
}

.nameDiv h4 {
    width: 100%;
}


.postDP {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    margin-right: 0.1rem;
}

.postDP>img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.caption {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.caption p {
    text-align: left;
    width: 100%;
}

.post .media {
    width: 100%;
    border-radius: 10px;
    min-height: 200px;
    max-height: 500px;
    overflow: hidden;
}

.post .media::-webkit-scrollbar {
    display: none;
}

.post .media img {
    width: 100%;
    object-fit: cover;
    overflow: auto;

}

.postInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

.postInfo p {
    width: 50%;
    font-size: 0.8rem;
}

.postInfo i {
    margin-right: 0.5rem;
    color: var(--accent);
}

.postInfo p:nth-of-type(2) {
    text-align: right;
}

.react {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}