.containerSignup {
    transition: 0.5s;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: var(--signup-bg-container);
}

.inputField {
    position: relative;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputField h1 {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    color: var(--h1-color);
    text-align: left;
}

.inputField>p {
    margin-top: 0.7rem;
}

.inputField i {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--h1-color)
}

.inputField p {
    width: 100%;
    font-size: 0.7rem;
}

.inputField p:nth-of-type(1) {
    margin-bottom: 0.5rem;
}

.inputField hr {
    margin-bottom: 0.5rem;
    width: 100%;
}

.inputField>input {
    width: 100%;
    padding: 0.8rem 0.5rem;
    width: 95%;
    margin: 0.5rem 0;
    background-color: var(--body-bg-color);
    border-radius: 7px;
    border: 1px solid rgb(220, 220, 220);
    outline: none;
}

.inputField>input:focus {
    outline: 2px solid rgb(203, 203, 255);
}

.inputName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputName>input {
    padding: 0.8rem;
    border-radius: 7px;
    width: 40%;
    border: 1px solid rgb(220, 220, 220);
    outline: none;
    background-color: var(--body-bg-color);
}

.inputName>input:focus {
    outline: 2px solid rgb(203, 203, 255);
}

.dob {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.selectDate {
    width: 30%;
    border-radius: 7px;
    padding: 0.5rem;
    border: 1px solid rgb(220, 220, 220);
    outline: none;
    background-color: var(--body-bg-color);
    color: var(--p-color);

}

.gender {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genderBox {
    border: 1px solid grey;
    padding: 0.2rem 0.5rem;
    width: 25%;
    border-radius: 7px;
    display: flex;
    border: var(--input-border-color);

    justify-content: space-between;
}

.inputField a {
    color: rgb(57, 57, 255);
}


.btn-2 {
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
    width: 40%;
}

.lt-btn {
    background-color: RGB(228, 230, 235);
    border: none;
    outline: none;
}