.chat {
    width: 310px;
    height: 85vh;
    position: absolute;
    overflow: auto;
    top: 50px;
    z-index: 5;
    right: 30px;
}


.chat::-webkit-scrollbar {
    display: none;
}

.chatControl {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    /* position: sticky;
    top: 0; */
    background-color: white;
}

.chatControl>i {
    color: rgb(97, 97, 97);
}

.chatControl h1 {
    width: 60%;
    font-size: 1.5rem;
}

.chatSearch {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    /* position: sticky;
    top: 53px; */
}

.chatSearch>input {
    width: 97%;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(234, 234, 234);
}

.chatList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.chatList>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.3rem;
    border-radius: 15px;
    width: 100%;
    margin: 0.3rem 0;
}

.chatList>ul>li:hover .messengerName>i {
    display: block;
}

.chatList>ul>li>.chatInfo {
    width: 85%;
}

.chatList>ul>li>.chatInfo>p {
    font-weight: 500;
    font-size: 0.9rem;
}

.chatList>ul>li>.chatInfo>.chatMessage {
    font-weight: 400;
    font-size: 0.75rem;
    color: rgb(161, 161, 161);
}

.messengerName p {
    width: 90%;
}

.messengerName {
    width: 90%;
    height: 1.4rem;
}

.messengerName i {
    display: none;
    padding: 1rem;
    border-radius: 50px;
}