* {
  margin: 0;
  padding: 0;
}

:root {
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --accent: #1877F2;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--p-color);
}




.light-theme {
  --h1-color: black;
  --h2-color: black;
  --h3-color: black;
  --h4-color: black;
  --h5-color: black;
  --h6-color: black;
  --p-color: black;
  --a-color: blue;
  --i-color: rgb(0, 0, 0);

  --hover-color: rgb(210, 210, 210);
  --body-bg-color: RGB(240, 242, 245);
  --card-bg-color: #FFFFFF;

  --input-border-color: 1px solid rgb(202, 202, 202);
  --signup-bg-container: rgba(255, 255, 255, 0.8);
  --button-color: rgb(222, 222, 222);

  ---profile-cover-gradient: linear-gradient(to top, #ffffff, #b9b9b9, #ababab7f, #7070702e, #00000000);
}




.dark-theme {
  --h1-color: white;
  --h2-color: white;
  --h3-color: white;
  --h4-color: white;
  --h5-color: white;
  --h6-color: white;
  --p-color: rgb(203, 203, 203);
  --a-color: blue;
  --i-color: grey;
  --hover-color: rgb(53, 53, 53);
  --body-bg-color: rgb(0, 0, 0);
  --card-bg-color: rgb(28, 28, 28);
  --input-border-color: 1px solid rgb(24, 24, 24);
  --signup-bg-container: rgba(32, 32, 32, 0.8);
  --button-color: rgb(97, 97, 97);

  ---profile-cover-gradient: linear-gradient(to top, var(--card-bg-color), #4f4f4fb2, #5f5f5f, #c4c4c430);
}

@media (prefers-color-scheme: dark) {}

a {
  text-decoration: none;
  color: var(--a-color);
}

i:hover,
a:hover {
  cursor: pointer;
}

i {
  color: var(--i-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h1-color);
}

p {
  color: var(--p-color);
}

.btn-primary {
  background-color: #1877F2;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background-color: #42B72A;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}


.card {
  background-color: var(--card-bg-color);
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 1rem;
  padding: 1rem;
}


@media screen and (max-width: 1000px) {

  /* login Up form Starts here */
  .loginContentBox {
    flex-direction: column;
  }

  .loginContentBox .title {
    padding: 0;
    width: 100%;
  }

  .loginContentBox .title h1 {
    font-size: 3rem;
    width: 100%;
  }

  .loginContentBox .title p {
    font-size: 1rem;
    width: 100%;
  }

  .loginContentBox>.form {
    width: 98%;
  }

  .loginContentBox>.form button {
    font-size: 0.8rem;
    width: 100%;
  }

  /* login up form ends here */

  /* Sign Up form starts here*/

  .container {
    width: 100%;
  }

  .containerSignup {
    width: 100%;
  }

  .inputField {
    width: 100% !important;
    height: 100% !important;
    margin-top: 3rem;
  }

  .rightHome {
    display: none;
  }

  .middleHome {
    width: auto !important;
  }

  .leftHome {
    width: 8rem !important;
    box-shadow: var(--shadow);
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem !important;

  }

  .leftHome::-webkit-scrollbar {
    display: none;
  }

  .leftHome hr {
    width: 20px !important;
    align-self: center;
  }

  .leftHome p {
    display: none !important;
  }

  .rightHome {
    width: 30%;
  }



  .myProfileName {
    width: 30rem;
    flex-direction: column;
  }

  .myInfo {
    width: 100%;
  }


  footer {
    display: none;
  }



}


/* For Mobile Screens */
@media screen and (max-width: 500px) {

  #root {
    position: static;
  }

  main {
    position: static;
  }

  .search {
    display: none;
  }

  .cardNotice {
    top: 50px;
    left: 5px;
  }

  /* 
  .homeContainer {
    width: 100% !important;
    position: static !important;
    align-items: center;
  }

  .profileContainer {
    position: relative;
    z-index: -54 !important;
  }
*/

  .leftHome {
    justify-content: start;
    margin-top: 0;
  }

  /* .leftHome {
    z-index: 99 !important;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column !important;
    position: fixed !important;
    width: 100% !important;
    top: 93vh !important;
    left: 0 !important;
    height: 20px !important;
    overflow-x: auto !important;
    padding: 1rem 0 !important;
  } */

  /*

  .leftHome::-webkit-scrollbar {
    display: none;
  }

  .leftHome>ul::-webkit-scrollbar {
    display: none;
  }

  .leftHome>ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    width: 100%;
    padding: 0 !important;
  }

  .leftHome>ul>li:nth-of-type(1) {
    margin-top: 0 !important;
    display: block !important;
  }

  .leftHome>ul>li:nth-of-type(2) {
    padding: 0;
    margin-left: 0rem !important;
    display: block !important;
  }

  .leftHome>ul>li:nth-of-type(9) {
    display: block !important;
  }

  .leftHome>ul>li:nth-of-type(11) {
    display: block !important;
  }

  .leftHome>ul>li {
    display: none !important;
  } */

  .leftHome>ul hr {
    display: none !important;
  }

  .header {
    width: 100% !important;
  }

  .profileNavBar {
    overflow: auto;
    width: 100% !important;
    padding: 0;
  }

  .profileNavBar>ul {
    padding: 0;
    width: 100% !important;
    overflow: auto;
  }

  #feelingActivity {
    display: none;
  }

  #postType {
    padding: 0;
    font-size: 0.5rem;
    width: 100%;
  }

  #postType i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .type {
    margin: 0;
  }

  .nameDiv>h4 {
    margin-left: 0.5rem;
  }

  .editInfo {
    flex-direction: column;
  }

  .editInfo .myProfileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .coverImage {
    height: 13rem;
  }

  .coverImage .cpcontainer {
    height: 100%;
  }

  .myInfo>h1 {
    font-size: 1.5rem;
  }

}